{% extends "base_generic.html" %}

{% block header %}
  <h1 style="padding-right: 100px; font-size: 75px;"> Author: {{ author.last_name }}, {{ author.first_name }} </h1>
                 {% endblock %}
{% block content %}


  <p><strong>First Name:</strong> {{ author.first_name }}</p> <!-- author detail link not yet defined -->
  <p><strong>Last Name:</strong> {{ author.last_name }}</p>
  <p><strong>Date of Birth:</strong> {{ author.date_of_birth }}</p>
<!--  <p><strong>Date of Death:</strong> {{ author.date_of_death }}</p>-->

  <ul class="list-group">
<li class="list-group-item center_body middle" style="background-color: #ffffff30"><strong class="m-3" style="font-size: 30px;">Books By This Author:</strong></li>
{% for book in author.book_set.all %}
<li class="list-group-item center_body middle" style="background-color: #ffffff30">
        <a style=" color: #a55439" class="center_body middle" href="{{ book.get_absolute_url }}">{{ book }}</a>
      </li>
{% endfor %}
  </ul>
{% endblock %}
