{% extends "base_generic.html" %}


{% block header %}

 <h1 style="font-size: 75px;">Book List</h1>
            {% endblock %}

{% block content %}

  {% if book_list %}
  <ul class="list-group">
    {% for book in book_list %}
      <li class="list-group-item center_body middle"  style="background-color: #ffffff30; color: #749aac">
        <a class="center_body middle" style=" color: #a55439"  href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}

{% endblock %}
