{% extends "base_generic.html" %}

{% block header %}
  <h1 style="font-size: 75px;">Title: {{ book.title }}</h1>
        {% endblock %}
{% block content %}

  <p><strong>Author:</strong> <a style="color: #749aac;" href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p>
  <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>

  <div style="margin-right:20px;margin-top:20px">
    <h4 style="width: 100%; padding: 5px; color:#a55439; background-color: #ffffff00; font-size: 30px" class="center_body middle"><strong>Copies</strong></h4>

    {% for copy in book.bookinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
  </div>
{% endblock %}
  style="color: #749aac;"