{% extends "base_generic.html" %}

{% block header %}

 <h1 class="top">Library Home </h1>
            {% endblock %}

{% block content %}
<!--  <h1>Local Library Home</h1>-->
<div class="center_body middle" >
  <h2 class="center_body middle" style="font-size: 40px; background-color: #ffffff00;">Compelling content</h2>
  <p class="center_body middle" style="font-size: 25px; background-color: #ffffff00;">The library has the following record counts:</p>
  <ul class="center_body middle" style="background-color: #ffffff00;">
    <li>Books: {{num_books}}</li>
    <li>Copies: {{ num_instances }}</li>
    <li>Copies available:{{ num_instances_available }}</li>
    <li>Authors: {{ num_authors }}</li>
    <li>Erotic: {{ num_sex_genres }}</li>

  </ul>
  </div>
{% endblock %}
