{% extends "base_generic.html" %}

{% block header %}

<h1 style="font-size: 75px" xmlns="http://www.w3.org/1999/html">Library Home </h1>
            {% endblock %}

{% block content %}
<!--  <h1>Local Library Home</h1>-->
<div class="center_body middle" style="background-color: #ffffff30;">
  <h2 class="center_body middle" style="font-size: 40px; background-color: #ffffff00;">Compelling content</h2>
  <p class="center_body middle" style="font-size: 25px; background-color: #ffffff00;">The library has the following record counts:</p>
  <ul class="center_body middle" style="background-color: #ffffff00;">
    <li>Books: {{num_books}}</li>
    <li>Copies: {{ num_instances }}</li>
    <li>Copies available:{{ num_instances_available }}</li>
    <li>Authors: {{ num_authors }}</li>


  </ul>
  <p class="center_body middle" style="font-size: 25px; background-color: #ffffff00;">You have visited this page <span style="color: #749aac;"> {{ num_visits }}</span> time{{ num_visits|pluralize }}.</p>
  </div>
{% endblock %}
